app/api/module/Api/data/ebsr/xsd/TransXChange_schema_2.5/napt_netex/NaPT_netex_facility_support-v2.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.5" id="TXC_netex_facility_support">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Christophe Duquesne</Contributor>
				<Contributor>Nick Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>Drafted for NeTEx version 1.0 CEN TC278 WG3 SG7 Editor Nicholas Knowles, Kizoom. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
 
				<Date>
					<Modified>2013-01-07</Modified>
					 Add buggy and umbrella to acessibility tools  
				</Date>
					<Date>
					<Modified>2013-05-05</Modified>
					revise fro 2.5
				</Date>
				<Description>
					<p>NeTEx is a European prCEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FACILITY subtypes </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
					<Identifier>{http://www.naptan.org.uk/schema/2.5/napt_netex}NaPT_netex_facility_support-v2-5.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://http://www.naptan.org.uk/schema/2.5/napt_netex/jw_netex_entity_support-v2.5.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2013</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 2.5</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG7</Project>
				</Subject>
				<Title>NaPT NeTEx FACILITY identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NaPT_netex_facility_support   HEADER DOCUMENTATION.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="NaPT_netex_entity_support-v2.5.xsd"/>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccessibilityInfoFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Accessibility Info. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="audioInformation"/>
			<xsd:enumeration value="audioForHearingImpaired"/>
			<xsd:enumeration value="visualDisplays"/>
			<xsd:enumeration value="displaysForVisuallyImpaired"/>
			<xsd:enumeration value="largePrintTimetables"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MobilityFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Mobility Facility: TPEG pti_table 23. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown">
				<xsd:annotation>
					<xsd:documentation>pti255_4</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="lowFloor">
				<xsd:annotation>
					<xsd:documentation>pti23_16_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="stepFreeAccess">
				<xsd:annotation>
					<xsd:documentation>pti23_16_3</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="suitableForWheelchairs">
				<xsd:annotation>
					<xsd:documentation>pti23_16_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="suitableForHeaviliyDisabled"/>
			<xsd:enumeration value="boardingAssistance">
				<xsd:annotation>
					<xsd:documentation>pti23_16_2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="onboardAssistance"/>
			<xsd:enumeration value="unaccompaniedMinorAssistance"/>
			<xsd:enumeration value="tactilePatformEdges"/>
			<xsd:enumeration value="tactileGuidingStrips"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassengerInformationFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Passenger information facility.  (+JW 2.5)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="nextStopIndicator"/>
			<xsd:enumeration value="stopAnnouncements"/>
			<xsd:enumeration value="passengerInformationDisplay"/>
			<xsd:enumeration value="realTimeConnections"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SafetyFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for SAFETY Facility.  (+JW 2.5)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="ccTv"/>
			<xsd:enumeration value="mobileCoverage"/>
			<xsd:enumeration value="sosPoints"/>
			<xsd:enumeration value="staffed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccessFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed Values for Access Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="lift"/>
			<xsd:enumeration value="escalator"/>
			<xsd:enumeration value="travelator"/>
			<xsd:enumeration value="ramp"/>
			<xsd:enumeration value="stairs"/>
			<xsd:enumeration value="shuttle"/>
			<xsd:enumeration value="narrowEntrance"/>
			<xsd:enumeration value="barrier"/>
			<xsd:enumeration value="palletAccess_lowFloor"/>
			<xsd:enumeration value="validator"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccessibilityToolEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Accessibility Tools.  (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="wheelchair"/>
			<xsd:enumeration value="walkingstick"/>
			<xsd:enumeration value="audioNavigator"/>
			<xsd:enumeration value="visualNavigator"/>
			<xsd:enumeration value="passengerCart"/>
			<xsd:enumeration value="pushchair"/>
			<xsd:enumeration value="umbrella"/>
			<xsd:enumeration value="buggy"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccommodationAccessEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Accommodation Access. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="freeSeating"/>
			<xsd:enumeration value="reservation">
				<xsd:annotation>
					<xsd:documentation>pti23_3</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="standing"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccommodationFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Accommodation Facility.  (+JW 2.5)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="seating"/>
			<xsd:enumeration value="sleeper">
				<xsd:annotation>
					<xsd:documentation>pti23_3</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="singleSleeper"/>
			<xsd:enumeration value="doubleSleeper"/>
			<xsd:enumeration value="specialSleeper"/>
			<xsd:enumeration value="couchette">
				<xsd:annotation>
					<xsd:documentation>pti23_4</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="specialSeating">
				<xsd:annotation>
					<xsd:documentation>pti23_5</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="recliningSeats">
				<xsd:annotation>
					<xsd:documentation>pti23_12</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="babyCompartment">
				<xsd:annotation>
					<xsd:documentation>pti23_13</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="familyCarriage"/>
			<xsd:enumeration value="recreationArea"/>
			<xsd:enumeration value="panoramaCoach"/>
			<xsd:enumeration value="pullmanCoach"/>
			<xsd:enumeration value="standing"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AssistanceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Assistance Facility.  (+JW 2.4)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="personalAssistance"/>
			<xsd:enumeration value="boardingAssistance"/>
			<xsd:enumeration value="wheechairAssistance"/>
			<xsd:enumeration value="unaccompaniedMinorAssistance"/>
			<xsd:enumeration value="wheelchairUse"/>
			<xsd:enumeration value="conductor"/>
			<xsd:enumeration value="information"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="any"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AssistanceAvailabilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for  Assistance Availability  (+JW 2.4)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none">
				<xsd:annotation>
					<xsd:documentation>Assistance is not  available.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="available">
				<xsd:annotation>
					<xsd:documentation>Assistance is nornally available.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="availableIfBooked">
				<xsd:annotation>
					<xsd:documentation>Assistance is  available if booked.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="availableAtCertainTimes">
				<xsd:annotation>
					<xsd:documentation>Assistance is   available at certain times.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="unknown">
				<xsd:annotation>
					<xsd:documentation>Not known if assistance is available.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BerthFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Alloweed Values for Berth Facility: (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="upper"/>
			<xsd:enumeration value="lower"/>
			<xsd:enumeration value="both"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BoardingPermissionEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed Values for Boarding Permission Facility: UIc. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="normal"/>
			<xsd:enumeration value="earlyBoardingPossibleBeforeDeparture"/>
			<xsd:enumeration value="lateAlightingPossibleAfterArrival"/>
			<xsd:enumeration value="overnightStayOnboardAllowed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CouchetteFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed  Values for Couchette Facility: UIc. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="T2"/>
			<xsd:enumeration value="T3"/>
			<xsd:enumeration value="C2"/>
			<xsd:enumeration value="C4"/>
			<xsd:enumeration value="C5">
				<xsd:annotation>
					<xsd:documentation>pti23_4_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="C6"/>
			<xsd:enumeration value="wheelchair"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmergencyServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Emergency Service Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="police"/>
			<xsd:enumeration value="fire"/>
			<xsd:enumeration value="firstAid"/>
			<xsd:enumeration value="sosPoint"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FamilyFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Family Accommodation (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="servicesForChildren"/>
			<xsd:enumeration value="servicesForArmyFamilies"/>
			<xsd:enumeration value="nurseryService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GenderEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Gender. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="both"/>
			<xsd:enumeration value="femaleOnly"/>
			<xsd:enumeration value="maleOnly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HireFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Hire Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="carHire"/>
			<xsd:enumeration value="motorCycleHire"/>
			<xsd:enumeration value="cycleHire"/>
			<xsd:enumeration value="taxi"/>
			<xsd:enumeration value="recreationDeviceHire"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LuggageCarriageEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Luggage Carriage Facility. (+JW 2.5)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="noBaggageStorage"/>
			<xsd:enumeration value="baggageStorage"/>
			<xsd:enumeration value="luggageRacks"/>
			<xsd:enumeration value="extraLargeLuggageRacks"/>
			<xsd:enumeration value="baggageVan"/>
			<xsd:enumeration value="noCycles"/>
			<xsd:enumeration value="cyclesAllowed"/>
			<xsd:enumeration value="cyclesAllowedInVan"/>
			<xsd:enumeration value="cyclesAllowedInCarriage"/>
			<xsd:enumeration value="cyclesAllowedWithReservation"/>
			<xsd:enumeration value="vehicleTransport"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LuggageLockerFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Luggage Locker Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="lockers">
				<xsd:annotation>
					<xsd:documentation>pti23_17</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="oversizeLockers"/>
			<xsd:enumeration value="leftLuggageCounter"/>
			<xsd:enumeration value="bikeRack"/>
			<xsd:enumeration value="cloakroom"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LuggageServiceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Luggage Service Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="leftLuggage"/>
			<xsd:enumeration value="porterage"/>
			<xsd:enumeration value="freeTrolleys"/>
			<xsd:enumeration value="paidTrolleys"/>
			<xsd:enumeration value="collectAndDeliverToStation"/>
			<xsd:enumeration value="baggageCheckInCheckOut"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeetingPointEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for MEETING POINT Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="meetingPoint"/>
			<xsd:enumeration value="groupMeeting"/>
			<xsd:enumeration value="schoolMeetingPoint"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MoneyFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Money Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="cashMachine"/>
			<xsd:enumeration value="bank"/>
			<xsd:enumeration value="insurance"/>
			<xsd:enumeration value="bureauDeChange"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MealFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Meal Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="breakfast"/>
			<xsd:enumeration value="lunch"/>
			<xsd:enumeration value="dinner"/>
			<xsd:enumeration value="snack"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NuisanceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Nuisance Facility: TPEG pti_table 23.  (+JW 2.5)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="smoking"/>
			<xsd:enumeration value="noSmoking"/>
			<xsd:enumeration value="mobilePhoneUseZone"/>
			<xsd:enumeration value="mobilePhoneFreeZone"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ParkingFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Parking Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="carPark"/>
			<xsd:enumeration value="parkAndRidePark"/>
			<xsd:enumeration value="motorcyclePark"/>
			<xsd:enumeration value="cyclePark"/>
			<xsd:enumeration value="rentalCarPark"/>
			<xsd:enumeration value="coachPark"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="CarServiceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Car Service Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="carWash"/>
			<xsd:enumeration value="valetPark"/>
			<xsd:enumeration value="carValetClean"/>
			<xsd:enumeration value="oilChange"/>
			<xsd:enumeration value="engineWarming"/>
			<xsd:enumeration value="petrol"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MedicalFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Medical  Service Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="defibrillator"/>
			<xsd:enumeration value="alcoholTest"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassengerCommsFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for PASSENGER COMMUNICATIONS FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="freeWifi"/>
			<xsd:enumeration value="publicWifi"/>
			<xsd:enumeration value="powerSupplySockets"/>
			<xsd:enumeration value="telephone">
				<xsd:annotation>
					<xsd:documentation>pti23_21</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="audioEntertainment">
				<xsd:annotation>
					<xsd:documentation>pti23_14</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="videoEntertainment">
				<xsd:annotation>
					<xsd:documentation>pti23_15</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="businessServices">
				<xsd:annotation>
					<xsd:documentation>pti23_25</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="internet"/>
			<xsd:enumeration value="postOffice"/>
			<xsd:enumeration value="postBox"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PassengerInformationEquipmentEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Passenger Information Equipment.   (+JW 2.5)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="timetablePoster"/>
			<xsd:enumeration value="fareInformation"/>
			<xsd:enumeration value="lineNetworkPlan"/>
			<xsd:enumeration value="lineTimetable"/>
			<xsd:enumeration value="stopTimetable"/>
			<xsd:enumeration value="journeyPlanning"/>
			<xsd:enumeration value="interactiveKiosk"/>
			<xsd:enumeration value="informationDesk"/>
			<xsd:enumeration value="realTimeDepartures"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="CateringFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Catering Facility: TPEG pti_table 23.   (+JW 2.5)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="bar">
				<xsd:annotation>
					<xsd:documentation>pti23_18</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="beverageVendingMachine"/>
			<xsd:enumeration value="bistro">
				<xsd:annotation>
					<xsd:documentation>pti23_26</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="buffet"/>
			<xsd:enumeration value="coffeeShop"/>
			<xsd:enumeration value="restaurant">
				<xsd:annotation>
					<xsd:documentation>pti23_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="firstClassRestaurant"/>
			<xsd:enumeration value="trolley">
				<xsd:annotation>
					<xsd:documentation>pti23_23</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="hotFoodService"/>
			<xsd:enumeration value="selfService"/>
			<xsd:enumeration value="snacks">
				<xsd:annotation>
					<xsd:documentation>pti23_2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="foodVendingMachine"/>
			<xsd:enumeration value="miniBar">
				<xsd:annotation>
					<xsd:documentation>pti23_18_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="breakfastInCar"/>
			<xsd:enumeration value="mealAtSeat"/>
			<xsd:enumeration value="noBeveragesAvailable">
				<xsd:annotation>
					<xsd:documentation>pti23_20</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="noFoodAvailableAvailable">
				<xsd:annotation>
					<xsd:documentation>pti23_19</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReservedSpaceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Reserved Space Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="lounge"/>
			<xsd:enumeration value="hall"/>
			<xsd:enumeration value="meetingPoint"/>
			<xsd:enumeration value="groupPoint"/>
			<xsd:enumeration value="reception"/>
			<xsd:enumeration value="shelter"/>
			<xsd:enumeration value="seats"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RetailFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Retail Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="food"/>
			<xsd:enumeration value="newspaperTobacco"/>
			<xsd:enumeration value="recreationTravel"/>
			<xsd:enumeration value="hygieneHealthBeauty"/>
			<xsd:enumeration value="fashionAccessories"/>
			<xsd:enumeration value="bankFinanceInsurance"/>
			<xsd:enumeration value="cashMachine"/>
			<xsd:enumeration value="currencyExchange"/>
			<xsd:enumeration value="tourismService"/>
			<xsd:enumeration value="photoBooth"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StaffingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Staffing. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="fullTime"/>
			<xsd:enumeration value="partTime"/>
			<xsd:enumeration value="unmanned"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TicketingFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Ticketing Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="ticketMachines"/>
			<xsd:enumeration value="ticketOffice"/>
			<xsd:enumeration value="ticketOnDemandMachines"/>
			<xsd:enumeration value="mobileTicketing"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ScopeOfTicketEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Scope of Ticket (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="localTicket"/>
			<xsd:enumeration value="nationalTicket"/>
			<xsd:enumeration value="internationalTicket"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VehicleLoadingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Vehicle Loading Facility. (NOT USED)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="loading"/>
			<xsd:enumeration value="unloading"/>
			<xsd:enumeration value="additionalLoading"/>
			<xsd:enumeration value="additionaUnloading"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ==== FACILITY========================================-->
	<xsd:simpleType name="FacilityIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FacilityRef" type="FacilityRefStructure">
		<xsd:annotation>
			<xsd:documentation> Reference to a FACILITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="ref" type="FacilityIdType" use="required">
			<xsd:annotation>
				<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!-- ====FACILITY SET==================================== -->
	<xsd:simpleType name="FacilitySetIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FacilitySetRef" type="FacilitySetRefStructure">
		<xsd:annotation>
			<xsd:documentation> Reference to a FACILITY SET.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilitySetRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="ref" type="FacilitySetIdType" use="required">
			<xsd:annotation>
				<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!-- ====SITE FACILITY SET=========================== -->
	<xsd:element name="SiteFacilitySetRef" type="FacilitySetRefStructure">
		<xsd:annotation>
			<xsd:documentation> Reference to a SITE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteFacilitySetRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SITE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="FacilitySetRefStructure">
				<xsd:attribute name="ref" type="SiteFacilitySetIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SiteFacilitySetIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SITE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FacilitySetIdType"/>
	</xsd:simpleType>
	<!-- ====SERVICE FACILITY SET================================================================ -->
	<xsd:simpleType name="ServiceFacilitySetIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a SERVICE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FacilitySetIdType"/>
	</xsd:simpleType>
	<xsd:element name="ServiceFacilitySetRef" type="FacilitySetRefStructure">
		<xsd:annotation>
			<xsd:documentation> Reference to a SERVICE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ServiceFacilitySetRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SERVICE FACILITY SET.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="FacilitySetRefStructure">
				<xsd:attribute name="ref" type="ServiceFacilitySetIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ==== ===================================================== -->
	<xsd:simpleType name="AccommodationIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a ACCOMMODATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="AccommodationRef" type="AccommodationRefStructure">
		<xsd:annotation>
			<xsd:documentation> Reference to a ACCOMMODATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AccommodationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ACCOMMODATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="ref" type="AccommodationIdType" use="required">
			<xsd:annotation>
				<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!-- ==== ===================================================== -->
	<xsd:element name="OnboardStayRef" type="OnboardStayRefStructure">
		<xsd:annotation>
			<xsd:documentation> Reference to a ONBOARD STAY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OnboardStayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a ONBOARD STAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="ref" type="OnboardStayIdType" use="required">
			<xsd:annotation>
				<xsd:documentation>Identifier of a FACILITY.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="OnboardStayIdType">
		<xsd:annotation>
			<xsd:documentation>Identifier of a ONBOARD STAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<!-- ==== ===================================================== -->
</xsd:schema>
