app/api/module/Api/data/nr/xsd/ERRU_Infringement_Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="https://webgate.ec.testa.eu/erru/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://webgate.ec.testa.eu/erru/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="./ERRU_Global_Types.xsd"/>
	<xs:complexType name="inAcknowledgementBodyBaseType">
		<xs:attribute name="acknowledgementId" type="globalBusinessReferenceType" use="required"/>
		<xs:attribute name="acknowledgementType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="IN_Ack"/>
					<xs:enumeration value="IR_Ack"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="businessCaseId" type="globalBusinessReferenceType" use="required"/>
		<xs:attribute name="originatingAuthority" type="globalAuthorityIdentifierType" use="required"/>
		<xs:attribute name="licensingAuthority" type="globalAuthorityIdentifierType" use="required"/>
		<xs:attribute name="ackDateTime" type="globalDateTimeType" use="required"/>
		<xs:attribute name="statusMessage" type="globalStatusMessage255Type" use="optional"/>
	</xs:complexType>
	<xs:complexType name="inAcknowledgementBodyType">
		<xs:complexContent>
			<xs:extension base="inAcknowledgementBodyBaseType">
				<xs:attribute name="statusCode" type="inAcknowledgementStatusCodeType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="inAckBodyType">
		<xs:complexContent>
			<xs:extension base="inAcknowledgementBodyBaseType">
				<xs:attribute name="statusCode" type="inAcknowledgementStatusCodeINFType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="inRequestBodyType">
		<xs:attribute name="businessCaseId" type="globalBusinessReferenceType" use="required"/>
		<xs:attribute name="originatingAuthority" type="globalAuthorityIdentifierType" use="required"/>
		<xs:attribute name="notificationDateTime" type="globalDateTimeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="inRequestPenaltyImposedType">
		<xs:attribute name="finalDecisionDate" type="xs:date" use="required"/>
		<xs:attribute name="penaltyTypeImposed" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:enumeration value="101"/>
					<xs:enumeration value="102"/>
					<xs:enumeration value="201"/>
					<xs:enumeration value="202"/>
					<xs:enumeration value="203"/>
					<xs:enumeration value="204"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="startDate" type="xs:date" use="optional"/>
		<xs:attribute name="endDate" type="xs:date" use="optional"/>
		<xs:attribute name="isExecuted" type="inIsExecutedEnumType" use="required"/>
	</xs:complexType>
	<xs:complexType name="inRequestTransportUndertakingType">
		<xs:attribute name="name" type="globalName100Type" use="optional"/>
		<xs:attribute name="communityLicenceNumber" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:normalizedString">
					<xs:minLength value="1"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vehicleRegNumber" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:normalizedString">
					<xs:minLength value="1"/>
					<xs:maxLength value="15"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="inResponseBodyType">
		<xs:attribute name="businessCaseId" type="globalBusinessReferenceType" use="required"/>
		<xs:attribute name="originatingAuthority" type="globalAuthorityIdentifierType" use="required"/>
		<xs:attribute name="licensingAuthority" type="globalAuthorityIdentifierType" use="required"/>
		<xs:attribute name="responseDateTime" type="globalDateTimeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="inResponsePenaltyImposedType">
		<xs:attribute name="authorityImposingPenalty" type="globalAuthorityIdentifierType" use="required"/>
		<xs:attribute name="isImposed" type="inIsImposedEnumType" use="required"/>
		<xs:attribute name="penaltyTypeImposed" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:enumeration value="101"/>
					<xs:enumeration value="102"/>
					<xs:enumeration value="301"/>
					<xs:enumeration value="302"/>
					<xs:enumeration value="303"/>
					<xs:enumeration value="304"/>
					<xs:enumeration value="305"/>
					<xs:enumeration value="306"/>
					<xs:enumeration value="307"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="startDate" type="xs:date" use="optional"/>
		<xs:attribute name="endDate" type="xs:date" use="optional"/>
		<xs:attribute name="reason" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:normalizedString">
					<xs:minLength value="1"/>
					<xs:maxLength value="500"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="inResponseTransportUndertakingType">
		<xs:attribute name="name" type="globalName100Type" use="required"/>
	</xs:complexType>
	<xs:complexType name="inPenaltyRequestedType">
		<xs:attribute name="penaltyTypeRequested" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:enumeration value="101"/>
					<xs:enumeration value="301"/>
					<xs:enumeration value="302"/>
					<xs:enumeration value="303"/>
					<xs:enumeration value="304"/>
					<xs:enumeration value="305"/>
					<xs:enumeration value="306"/>
					<xs:enumeration value="307"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="duration" type="xs:positiveInteger" use="optional"/>
	</xs:complexType>
	<xs:complexType name="inSeriousInfringementType">
		<xs:attribute name="dateOfInfringement" type="xs:date" use="required"/>
		<xs:attribute name="category" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="MSI"/>
					<xs:enumeration value="VSI"/>
					<xs:enumeration value="SI"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="infringementType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:enumeration value="101"/>
					<xs:enumeration value="102"/>
					<xs:enumeration value="103"/>
					<xs:enumeration value="104"/>
					<xs:enumeration value="201"/>
					<xs:enumeration value="202"/>
					<xs:enumeration value="203"/>
					<xs:enumeration value="204"/>
					<xs:enumeration value="205"/>
					<xs:enumeration value="301"/>
					<xs:enumeration value="302"/>
					<xs:enumeration value="401"/>
					<xs:enumeration value="402"/>
					<xs:enumeration value="403"/>
					<xs:enumeration value="501"/>
					<xs:enumeration value="503"/>
					<xs:enumeration value="504"/>
					<xs:enumeration value="601"/>
					<xs:enumeration value="602"/>
					<xs:enumeration value="603"/>
					<xs:enumeration value="701"/>
					<xs:enumeration value="702"/>
					<xs:enumeration value="800"/>
					<xs:enumeration value="801"/>
					<xs:enumeration value="802"/>
					<xs:enumeration value="803"/>
					<xs:enumeration value="804"/>
					<xs:enumeration value="805"/>
					<xs:enumeration value="806"/>
					<xs:enumeration value="807"/>
					<xs:enumeration value="808"/>
					<xs:enumeration value="809"/>
					<xs:enumeration value="810"/>
					<xs:enumeration value="811"/>
					<xs:enumeration value="812"/>
					<xs:enumeration value="813"/>
					<xs:enumeration value="814"/>
					<xs:enumeration value="815"/>
					<xs:enumeration value="816"/>
					<xs:enumeration value="817"/>
					<xs:enumeration value="818"/>
					<xs:enumeration value="819"/>
					<xs:enumeration value="820"/>
					<xs:enumeration value="821"/>
					<xs:enumeration value="822"/>
					<xs:enumeration value="823"/>
					<xs:enumeration value="824"/>
					<xs:enumeration value="825"/>
					<xs:enumeration value="826"/>
					<xs:enumeration value="827"/>
					<xs:enumeration value="828"/>
					<xs:enumeration value="829"/>
					<xs:enumeration value="830"/>
					<xs:enumeration value="831"/>
					<xs:enumeration value="832"/>
					<xs:enumeration value="833"/>
					<xs:enumeration value="834"/>
					<xs:enumeration value="835"/>
					<xs:enumeration value="836"/>
					<xs:enumeration value="837"/>
					<xs:enumeration value="838"/>
					<xs:enumeration value="839"/>
					<xs:enumeration value="840"/>
					<xs:enumeration value="841"/>
					<xs:enumeration value="842"/>
					<xs:enumeration value="843"/>
					<xs:enumeration value="844"/>
					<xs:enumeration value="845"/>
					<xs:enumeration value="846"/>
					<xs:enumeration value="847"/>
					<xs:enumeration value="848"/>
					<xs:enumeration value="849"/>
					<xs:enumeration value="850"/>
					<xs:enumeration value="851"/>
					<xs:enumeration value="852"/>
					<xs:enumeration value="853"/>
					<xs:enumeration value="854"/>
					<xs:enumeration value="855"/>
					<xs:enumeration value="856"/>
					<xs:enumeration value="857"/>
					<xs:enumeration value="858"/>
					<xs:enumeration value="859"/>
					<xs:enumeration value="860"/>
					<xs:enumeration value="861"/>
					<xs:enumeration value="862"/>
					<xs:enumeration value="863"/>
					<xs:enumeration value="864"/>
					<xs:enumeration value="900"/>
					<xs:enumeration value="901"/>
					<xs:enumeration value="902"/>
					<xs:enumeration value="903"/>
					<xs:enumeration value="904"/>
					<xs:enumeration value="905"/>
					<xs:enumeration value="906"/>
					<xs:enumeration value="907"/>
					<xs:enumeration value="908"/>
					<xs:enumeration value="909"/>
					<xs:enumeration value="910"/>
					<xs:enumeration value="911"/>
					<xs:enumeration value="912"/>
					<xs:enumeration value="913"/>
					<xs:enumeration value="914"/>
					<xs:enumeration value="915"/>
					<xs:enumeration value="916"/>
					<xs:enumeration value="917"/>
					<xs:enumeration value="918"/>
					<xs:enumeration value="919"/>
					<xs:enumeration value="920"/>
					<xs:enumeration value="921"/>
					<xs:enumeration value="922"/>
					<xs:enumeration value="923"/>
					<xs:enumeration value="924"/>
					<xs:enumeration value="925"/>
					<xs:enumeration value="926"/>
					<xs:enumeration value="927"/>
					<xs:enumeration value="928"/>
					<xs:enumeration value="929"/>
					<xs:enumeration value="930"/>
					<xs:enumeration value="931"/>
					<xs:enumeration value="932"/>
					<xs:enumeration value="933"/>
					<xs:enumeration value="934"/>
					<xs:enumeration value="935"/>
					<xs:enumeration value="936"/>
					<xs:enumeration value="937"/>
					<xs:enumeration value="938"/>
					<xs:enumeration value="939"/>
					<xs:enumeration value="940"/>
					<xs:enumeration value="941"/>
					<xs:enumeration value="942"/>
					<xs:enumeration value="943"/>
					<xs:enumeration value="944"/>
					<xs:enumeration value="945"/>
					<xs:enumeration value="946"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dateOfCheck" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:simpleType name="inAcknowledgementStatusCodeType">
		<xs:union memberTypes="globalStatusCodeBaseType globalOKStatusCodeType"/>
	</xs:simpleType>
	<xs:simpleType name="inAcknowledgementStatusCodeINFType">
		<xs:union memberTypes="globalStatusCodeBaseType globalOKStatusCodeType globalDuplicateRequestStatusCodeType globalResponseNotCorrelatedStatusCodeType globalValidResponseExistsStatusCodeType"/>
	</xs:simpleType>
	<xs:simpleType name="inIsExecutedEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="inIsImposedEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
